<% if @errors %>
  <div class="d-block">
    <% @errors.full_messages_for(:body).each do |error_message| %>
      <%= error_message %>.
    <% end %>
  </div>
<% end %>

<%= form_with model: @new_message,
              data: { controller: "chat_refresh", action: "turbo:submit-end->chat_refresh#clearInput" } do |f| %>
  <div class="rounded-md shadow-sm -space-y-px">
    <%= f.text_field :body,
                     autofocus: true,
                     required: true,
                     placeholder: "Your text",
                     class: "appearance-none rounded-none relative block w-full px-3 py-2
                      border border-gray-300 placeholder-gray-500
                      text-gray-900 rounded-b-md rounded-t-md  sm:text-sm" %>
    <%= f.hidden_field :room_id, value: @room.id %>
  </div>
<% end %>
