<% if @errors %>
  <div class="d-block">
    <% @errors.full_messages_for(:body).each do |error_message| %>
      <%= error_message %>.
    <% end %>
  </div>
<% end %>

<%= form_with model: @new_room, class: "mt-4",
              data: { controller: :chat_refresh,
                      action: "turbo:submit-end->chat_refresh#clearInput"
              }  do |f| %>

  <div class="flex flex-row">
    <%= f.text_field :title, class: 'border', required: true %>
    <%= f.submit "Create room", class: "group relative w-full flex justify-center py-2
      px-4 border border-transparent text-sm font-medium rounded-md
      text-white bg-indigo-600 hover:bg-indigo-700  cursor-pointer basis-1/12" %>
  </div>
<% end %>